RewriteEngine On

# Fichiers réels
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Routes React connues
RewriteRule ^$ /index.html [L]
RewriteRule ^fr-fr/?$ /index.html [L]
RewriteRule ^en-us/?$ /index.html [L]
RewriteRule ^fr-fr/contact/?$ /index.html [L]
RewriteRule ^en-us/contact/?$ /index.html [L]
RewriteRule ^fr-fr/projets/?$ /index.html [L]
RewriteRule ^en-us/projects/?$ /index.html [L]

# Vraie 404
ErrorDocument 404 /404.html
RewriteRule ^ - [R=404,L]
